@using TaskManager.Components
@using TaskManager.Models.DbClasses
@using TaskManager.Models.Dto
@{
    List<TableRowDto> tableRows = this.ViewBag.TableRows;
    TableSortDto? tableSort = this.ViewBag.TableSort;
}

<table class="table" style="user-select: none">
    <thead class="table-dark">
        <tr>
            <th>
                @if (tableSort != null && tableSort?.sortDir != sortDirection.None)
                {
                    <a class="text-decoration-none text-reset" asp-controller="Home" asp-action="Index"
                       asp-route-orderTable="@null"
                       asp-route-sortCol="@null"
                       asp-route-sortDir="@null">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293z" />
                        </svg>
                    </a>
                }
            </th>
            <th>
                <a class="text-decoration-none text-reset" asp-controller="Home" asp-action="Index"
                   asp-route-orderTable="@(Table.Default)"
                   asp-route-sortCol="assignedBy"
                   asp-route-sortDir="@(tableSort == null || tableSort.sortCol != "assignedBy" ? sortDirection.None : tableSort.sortDir)">
                    Assigned by
                </a>
                @if (tableSort?.sortDir == sortDirection.Ascending && tableSort.sortCol == "assignedBy")
                {
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
                    </svg>
                }
                else if (tableSort?.sortDir == sortDirection.Descendin && tableSort.sortCol == "assignedBy")
                {
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                        <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                    </svg>
                }
                
            </th>
            <th>
                <a class="text-decoration-none text-reset" asp-controller="Home" asp-action="Index"
                   asp-route-orderTable="@(Table.Default)"
                   asp-route-sortCol="assignedDate"
                   asp-route-sortDir="@(tableSort == null || tableSort.sortCol != "assignedDate" ? sortDirection.None : tableSort.sortDir)">
                    Assigned date
                </a>
                @if (tableSort?.sortDir == sortDirection.Ascending && tableSort.sortCol == "assignedDate")
                {
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
                    </svg>
                }
                else if (tableSort?.sortDir == sortDirection.Descendin && tableSort.sortCol == "assignedDate")
                {
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                        <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                    </svg>
                }
            </th>
            <th>
                <a class="text-decoration-none text-reset" asp-controller="Home" asp-action="Index"
                   asp-route-orderTable="@(Table.Default)"
                   asp-route-sortCol="startDate"
                   asp-route-sortDir="@(tableSort == null || tableSort.sortCol != "startDate" ? sortDirection.None : tableSort.sortDir)">
                    Start date
                </a>
                @if (tableSort?.sortDir == sortDirection.Ascending && tableSort.sortCol == "startDate")
                {
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
                    </svg>
                }
                else if (tableSort?.sortDir == sortDirection.Descendin && tableSort.sortCol == "startDate")
                {
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                        <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                    </svg>
                }
            </th>
            <th>
                <a class="text-decoration-none text-reset" asp-controller="Home" asp-action="Index"
                   asp-route-orderTable="@(Table.Default)"
                   asp-route-sortCol="endDate"
                   asp-route-sortDir="@(tableSort == null || tableSort.sortCol != "endDate" ? sortDirection.None : tableSort.sortDir)">
                    End date
                </a>
                @if (tableSort?.sortDir == sortDirection.Ascending && tableSort.sortCol == "endDate")
                {
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
                    </svg>
                }
                else if (tableSort?.sortDir == sortDirection.Descendin && tableSort.sortCol == "endDate")
                {
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                        <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                    </svg>
                }
            </th>
            <th>
                <a class="text-decoration-none text-reset" asp-controller="Home" asp-action="Index"
                   asp-route-orderTable="@(Table.Default)"
                   asp-route-sortCol="finished"
                   asp-route-sortDir="@(tableSort == null || tableSort.sortCol != "finished" ? sortDirection.None : tableSort.sortDir)">
                    Finished
                </a>
                @if (tableSort?.sortDir == sortDirection.Ascending && tableSort.sortCol == "finished")
                {
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
                    </svg>
                }
                else if (tableSort?.sortDir == sortDirection.Descendin && tableSort.sortCol == "finished")
                {
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                        <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                    </svg>
                }
            </th>            
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < tableRows.Count; i++)
        {
            <form asp-controller="Home" asp-action="SubAssignmentChange" method="post" id="HomeForm_@tableRows[i].assignment.AssignmentId">
                <input type="hidden" name="assignmentId" value="@tableRows[i].assignment.AssignmentId" />
                <input type="hidden" name="isEditing" value="false" />

                <tr onclick="expandSubTasks(@tableRows[i].assignment.AssignmentId)">
                    <td>@(i + 1)</td>
                    <td>@tableRows[i].assignedBy</td>
                    <td>@tableRows[i].assignment.AssignedDate.ToString("dd.MM.yyyy")</td>
                    <td>@(tableRows[i].assignment.StartDate?.ToString("dd.MM.yyyy") ?? "-")</td>
                    <td>
                        @tableRows[i].assignment.EndDate.ToString("dd.MM.yyyy")
                        @if (tableRows[i].assignment.EndDate < DateTime.Now)
                        {
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle-fill text-danger" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4m.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2" />
                            </svg>
                        }
                    </td>
                    <td>@tableRows[i].subAssignments.Where(x => x.Finished).ToList().Count / @tableRows[i].subAssignments.Count</td>
                </tr>
                <tr id="subTasks_@tableRows[i].assignment.AssignmentId" hidden>
                    <td colspan="6">
                        <table class="table table-sm table-bordered mb-0">
                            @foreach (SubAssignment subAssignment in tableRows[i].subAssignments)
                            {
                                <tr>
                                    <td>@subAssignment.Assignment</td>
                                    <td class="text-center">
                                        <div class="form-check d-flex justify-content-center">
                                            <input class="form-check-input confirm-checkbox"
                                                   type="checkbox"
                                                   value="@subAssignment.SubAssignmentId"
                                                   name="completedSubIds"
                                                   data-assignment-id="@tableRows[i].assignment.AssignmentId"
                                                   @(subAssignment.Finished ? "checked" : "") />

                                        </div>
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td colspan="2" style="border: none;">
                                    <button type="submit"
                                            class="save-btn btn btn-outline-secondary btn-sm w-100"
                                            data-assignment-id="@tableRows[i].assignment.AssignmentId"
                                            data-finished="@tableRows[i].assignment.Finished.ToString().ToLower()">
                                        SAVE
                                    </button>

                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </form>
        }
    </tbody>
</table>